<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

</head>

<body>
    <header>
        <div id="title">Travel Planner</div>
    </header>
    <main>
        <div id="img-div">
            <img id="img" alt="">

        </div>
        <div id="info-div">
            <div id="input-div">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div> My trip to
                    <input id="location" type="text" name="input" value="" placeholder="Enter Location" required>
                    </div>
                    <div> Departing
                    <input id="date" type="date" name="input" value="" min="2020-05-26" required>
                    </div>
                    <input id="submit-btn" type="submit" name="" onsubmit="return Client.handleSubmit(event)" value="add trip">
                    <input id="rm-btn" type="button" name="" value="remove trip">
                </form>
            </div>
            <div id="result-div">

            </div>
        </div>
    </main>
    <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> -->
</body>

</html>
